<div class="container-fluid">
  <div class="container">
    <h1>EIT-Newspaper</h1>
    <!-- Login Component -->
    <app-login></app-login>
    <div class="header">
      <div class="container mt-5">
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn"
            [ngClass]="{ active: selectedCategory === 'All' }"
            (click)="selectCategory('All')"
          >
            All
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{ active: selectedCategory === 'National' }"
            (click)="selectCategory('National')"
          >
            National
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{ active: selectedCategory === 'Economy' }"
            (click)="selectCategory('Economy')"
          >
            Economy
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{ active: selectedCategory === 'Sports' }"
            (click)="selectCategory('Sports')"
          >
            Sports
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{ active: selectedCategory === 'Technology' }"
            (click)="selectCategory('Technology')"
          >
            Technology
          </button>
        </div>
        <input
          type="text"
          id="filterText"
          [(ngModel)]="filterText"
          placeholder="Search Here"
        />
        <div *ngIf="isLoading; else content">
          <app-loading-spinner />
        </div>
        <ng-template #content>
          <div
            class="container text-center"
            *ngIf="articleList.length > 0; else emptyList"
          >
            <div class="row">
              <ul
                *ngFor="
                  let article of articleList
                    | filterArticles : filterText : selectedCategory
                "
                class="ulBox"
              >
                <li>
                  <a class="listImg" [routerLink]="['/article', article.id]"
                    ><img
                      *ngIf="
                        article.thumbnail_media_type && article.thumbnail_image
                      "
                      [src]="
                        'data:' +
                        article.thumbnail_media_type +
                        ';base64,' +
                        article.thumbnail_image
                      " />
                    <img
                      class="listImg"
                      [hidden]="
                        article.thumbnail_media_type && article.thumbnail_image
                      "
                      src="../../assets/no_pic.png"
                  /></a>
                </li>
                <li>
                  <a
                    class="listTitle"
                    [routerLink]="['/article', article.id]"
                    >{{ article.title }}</a
                  >
                </li>
                <li class="listCategory">{{ article.category }}</li>
                <li class="listSubtitle">{{ article.subtitle }}</li>
                <li class="listAbstract">{{ article.abstract }}</li>
              </ul>
            </div>
          </div>
          <ng-template #emptyList>
            <div class="noData">No articles for the current filters.</div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>
