<p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>

<div class="loading-container" *ngIf="isLoading; else content">
    <app-loading-spinner />
</div>

<ng-template #content>
    <button class="btn btn-secondary float-end" (click)="navigateToArticleList()">Homepage</button>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Create News Article</h1>

                    <form #articleForm="ngForm" (ngSubmit)="save()">
                        <div class="form-group">
                            <label> Title: </label>
                            <input class="form-control" type="text" required [(ngModel)]="article.title" name="title"
                                #stitle="ngModel" [ngClass]="stitle.valid || stitle['pristine'] ? '': 'bg-danger'"
                                minlength="5" maxlength="100" appHighlight>
                            <div class="alert alert-danger" *ngIf="stitle.touched && !stitle.valid">
                                <div *ngIf="stitle.errors">Title needs to be between 5 and 20 characters long</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Subtitle: </label>
                            <input class="form-control" type="text" required [(ngModel)]="article.subtitle "
                                name="ssubtitle " #ssubtitle="ngModel"
                                [ngClass]="ssubtitle.valid || ssubtitle ['pristine'] ? '': 'bg-danger'" minlength="5"
                                maxlength="100" appHighlight>
                            <div class="alert alert-danger" *ngIf="ssubtitle.touched && !ssubtitle.valid">
                                <div *ngIf="ssubtitle.errors">Subtitle needs to be between 5 and 50 characters long
                                </div>
                            </div>

                            <div class="form-group">
                                <label> Category: </label>
                                <select class="form-control" required [(ngModel)]="article.category" name="category"
                                    #category="ngModel" appHighlight>
                                    <option value="National">National</option>
                                    <option value="Economy">Economy</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Technology">Technology</option>
                                </select>
                            </div>


                        </div>
                        <div class="form-group">
                            <label> Abstract: </label>
                            <input class="form-control" type="text" required [(ngModel)]="article.abstract"
                                name="sabstract" #sabstract="ngModel"
                                [ngClass]="sabstract.valid || sabstract.pristine ? '': 'bg-danger'" minlength="5"
                                maxlength="500" appHighlight>
                            <div class="alert alert-danger" *ngIf="sabstract.touched && !sabstract.valid">
                                <div *ngIf="sabstract.errors">Abstract needs to be between 10 and 200 characters long
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="file" (change)="fileChangeEvent($event)">
                            <div class="alert alert-warning" *ngIf="!isImageSaved">
                                <div>Please provide a picture</div>
                            </div>
                        </div>

                        <label for="body">Body:</label>
                        <ckeditor [(ngModel)]="article.body" name="sbody" [editor]="Editor" data="<p></p>"></ckeditor>


                        <button type="submit" class="btn btn-primary btn-sm mr-1"
                            [disabled]="!articleForm.valid || !isImageSaved">Save</button>
                        <button type="button" (click)="clean()" class="btn btn-primary btn-sm">Clean</button>

                    </form>

                    <p *ngFor="let alert of alerts">
                        <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
                    </p>

                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="jumbotron">
                    <div class="row justify-content-center">
                        <div class="title">{{ article.title }}</div>
                        <div class="subtitle">{{ article.subtitle }}</div>
                        <div class="category">{{ article.category }}</div>
                        <img [src]="'data:' + article.image_media_type + ';base64,' +article.image_data "
                            *ngIf="article.image_data">
                        <div class="abstract">{{ article.abstract }}</div>
                        <div [innerHTML]="article.body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>